<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
    <add key="BPMServicePort" value="1570"/>
    <add key="UserSetting1" value="AAA"/>
    <add key="EipService" value="http://eip.mof.gov.tw/eipService.do"/>
	<add key="CallEipService" value="True"/>
	<add key="EnableMOFProviderLog" value="True"/>
	<add key="EnableMOFProviderPath" value="D:\Program Files (x86)\Smartsoft\MOFProvider.txt"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="OUProviders;NotifyProviders;DBProviders;DataSourceProviders"/>
		</assemblyBinding>
	</runtime>
</configuration>