<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
	</configSections>
	<appSettings>
		<add key="UserSetting1" value="AAA"/>
		<add key="ServerAddress" value="127.0.0.1"/>
   		<add key="LoginAccount" value="sa"/>
    	<add key="LoginPWD" value=""/>
    	<add key="Port" value="1580"/>
		<add key="DBIP" value="moflandb.intra.mof.gov.tw"/>
    	<add key="DBName" value="BPMDB"/>
    	<add key="DBAccount" value="flow"/>
    	<add key="DBPWD" value="5tgb6yhn7ujmDb"/>
    	<add key="TimeSheetName" value="財政部"/>
    	<add key="WorkingDays" value="7"/>
    	<add key="HursOfWorkDay" value="24"/>
        <add key="EipService" value="http://eip.mof.gov.tw/eipService.do"/>
<add key="CallEipService" value="True"/>
    <add key="EnableMOFProviderLog" value="True"/>

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="OUProviders;NotifyProviders;DBProviders;DataSourceProviders"/>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IEipServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eip.mof.gov.tw/eipService.do"
                binding="basicHttpBinding" bindingConfiguration="IEipServiceHttpBinding"
                contract="ServiceReference1.IEipServicePortType" name="IEipServiceHttpPort" />
        </client>
    </system.serviceModel> 
</configuration>