<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="Normal" xsi:type="File"
            fileName="${basedir}/NLog.Logs/${shortdate}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${callsite:className=true} | ${message}${newline}" />
    <target name="ErrorAndFatal" xsi:type="File"
             fileName="${basedir}/NLog.Logs/${shortdate}.txt"
            layout="
====================================================================================================${newline}
發生時間：${longdate} ${newline}
Log等級：${level:uppercase=true} ${newline}
Source：${callsite:className=true} ${newline}
錯誤訊息：${message} ${newline}
StackTrace：${newline}${exception:format=stacktrace}${newline}
Exception類別：${exception:format=type} ${newline}
Exception訊息：${exception:format=message} ${newline}
InnerException Detail：${newline}   ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}
====================================================================================================${newline}" />
    <target name="TraceAndDebug" xsi:type="Debugger"
            layout="
----------------------------------------------------------------------------------------------------${newline}
${longdate} ${level:uppercase=true} ${callsite:className=true} ${newline}
${message} ${newline}
----------------------------------------------------------------------------------------------------${newline}" />
    <target name="NormalConsole" xsi:type="Console"
           layout="${longdate} | ${level:uppercase=true} | ${callsite:className=true} | ${message}${newline}" />
    <target name="ErrorAndFatalConsole" xsi:type="Console"
           layout="
====================================================================================================${newline}
發生時間：${longdate} ${newline}
Log等級：${level:uppercase=true} ${newline}
Source：${callsite:className=true} ${newline}
錯誤訊息：${message} ${newline}
StackTrace：${newline}${exception:format=stacktrace}${newline}
Exception類別：${exception:format=type} ${newline}
Exception訊息：${exception:format=message} ${newline}
InnerException Detail：${newline}   ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}${newline}
====================================================================================================${newline}" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="Normal,NormalConsole" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorAndFatal,ErrorAndFatalConsole" />
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="TraceAndDebug" />
  </rules>
</nlog>