<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="application" type="BPM.Server.Config.ApplicationDataSection,BPM.Server"/>
		<section name="dotnet" type="BPM.Server.Config.DotNetSection,BPM.Server"/>
		<section name="cluster" type="BPM.Server.Config.ClusterSection,BPM.Server"/>
	</configSections>
	<application>
		<environment>
			<!--BPM主資料庫為SQL Server-->
			<SystemDBProvider>SQLServerBPMProvider.Provider,SQLServerBPMProvider</SystemDBProvider>
			<!--BPM主資料庫為Oracle-->
			<!--<SystemDBProvider>OracleBPMProvider.Provider,OracleBPMProvider</SystemDBProvider>-->
			<WebsiteRootUrl>http://localhost/2012</WebsiteRootUrl>
			<FormPath>D:\Program Files (x86)\Smartsoft\SmartBPM.NET\WebSite\YZSoft\Forms\XForm</FormPath>
			<AttachmentRootPath>\\Mofpki1\flowattach\2012\Web\Attachments</AttachmentRootPath>
			<!--<AttachmentRootPath>N:\flowattachfile\2012\Web\Attachments</AttachmentRootPath>-->
			<!--【正式系統需要開啟】分佈式事務處理開關-->
			<DTCEnabled>false</DTCEnabled>
			<!--【正式系統建議開啟】查詢通知開關-->
			<ServiceBroker>false</ServiceBroker>
			<NoTimeSheetNoProcess>false</NoTimeSheetNoProcess>
			<SQLTrace>false</SQLTrace>
			<ServicePort>1580</ServicePort>
		</environment>
		<ouProviders>
			<!--安裝目錄\OUProviders-->
			<ouProviderItem name="BPMOUProvider" type="BPMOUProvider.OrgProvider,BPMOUProvider"/>
			<ouProviderItem name="ADOUProvider" type="ADOUProvider.OrgProvider,ADOUProvider"/>
		</ouProviders>
		<notifyProviders>
			<!--安裝目錄\NotifyProviders-->
			<notifyProviderItem name="MOF" type="MOFProvider.Provider,MOFProvider"/>
		</notifyProviders>
		<datasourceProviders>
			<!--安裝目錄\DataSourceProviders-->
			<datasourceProviderItem name="SQL Server" type="SQLServerProvider.Provider,SQLServerProvider"/>
			<datasourceProviderItem name="Oracle" type="OracleProvider.Provider,OracleProvider"/>
			<!--<datasourceProviderItem name="SQL Server(ODBC)" type="SQLServerOdbcProvider.Provider,SQLServerOdbcProvider"/>-->
			<!--<datasourceProviderItem name="SM" type="HRDataSourceProvider.SMProvider,HRDataSourceProvider"/>-->
			<!--<datasourceProviderItem name="KC" type="HRDataSourceProvider.KCProvider,HRDataSourceProvider"/>-->
			<!--<datasourceProviderItem name="唯一的名稱" type="DataSourceProvider的類庫名,DLL名"/>-->
		</datasourceProviders>
		<database>
			<!--<ConnectionString>Data Source=BPMDB;User Id=SYSTEM;Password=Abc123#</ConnectionString>-->
			<!--<ConnectionString>Data Source=ORCL;User Id=SCOTT;Password=Abc123#</ConnectionString>-->
			<Server>moflandb.intra.mof.gov.tw</Server>
			<AuthType>DB</AuthType>
			<!--SSPI=目前NT登錄用戶,DB=輸入用戶名與密碼,注意區分大小寫-->
			<Uid>Flow</Uid>
			<Password>5tgb6yhn7ujmDb</Password>
			<Database>BPMDB</Database>
			<CommandTimeout>30</CommandTimeout>
		</database>
		<smtp>
			<MailBox>bpmadmin@vip.163.com</MailBox>
			<UseIIS>false</UseIIS>
			<!--false時需要設置以下各項-->
			<Server>smtp.vip.163.com</Server>
			<Port>25</Port>
			<User>bpmadmin</User>
			<Password>asp.net</Password>
		</smtp>
		<pop3>
			<Pop3Enable>false</Pop3Enable>
			<!--true時需要設置以下各項-->
			<MailBox>bpmadmin@vip.163.com</MailBox>
			<Server>pop.vip.163.com</Server>
			<Port>110</Port>
			<User>bpmadmin</User>
			<Password>asp.net</Password>
			<CheckMailFrequencyInSeconds>30</CheckMailFrequencyInSeconds>
		</pop3>
	</application>
	<dotnet>
		<assemblies>
			<add name="System.dll"/>
			<add name="System.Transactions.dll"/>
			<add name="BPM.dll"/>
			<add name="BPM.Server.dll"/>
			<!--your dll-->
		</assemblies>
		<using>
			<add name="using System;"/>
			<add name="using System.IO;"/>
			<add name="using System.Text;"/>
			<add name="using System.Transactions;"/>
			<add name="using BPM;"/>
			<add name="using BPM.Server;"/>
			<add name="using BPM.Server.OAL;"/>
			<!--your namespace-->
		</using>
	</dotnet>
	<cluster enabled="true" main="true">
		<servers>
			<add name="MOFPKI2" server="172.16.1.164" port="1580"/>
		</servers>
	</cluster>
</configuration>
