<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBType" value="SQLServer"/>
		<!--<add key ="DBType" value="Oracle"/>-->
		<!--【正式系統建議開啟】查詢通知開關-->
		<add key="ServiceBroker" value="false"/>
	</appSettings>
	<connectionStrings>
		<add name="dbcnn" connectionString="Data Source=moflandb.intra.mof.gov.tw ;Initial Catalog= BPMDB ;User ID=Flow;Password=5tgb6yhn7ujmDb"/>
		<!--<add name="dbcnn" connectionString="Data Source=BPMDB;User Id=SYSTEM;Password=Abc123#"/>-->
	</connectionStrings>
</configuration>
